* {
  outline: none !important;
}


@import 'modules/fonts';
@import 'modules/function';
@import 'modules/variables';
@import 'modules/mixins';


body {
  font-family: "serif", arial;
}

@import 'modules/extend';
@import 'modules/utilities';

.box2{
  @extend %transition-35;
}
.box{
  perspective: 500px;
  @extend %transition-4;
  p{
    font-size: rem(32);
  }
  .inner{
    border: 4px solid #e5a043;
    background: #fff2dd;
    width: 125px;
    height: 125px;
    @include scale3d(1, 1, 1);
  }
}

.icon-short-arrow-copy-1:before {
  content: "\e900";
}
.icon-google-review-star:before {
  content: "\e901";
}
@media print {
  .container {
    width: auto;
  }
}
.btn{
  padding: 13px 20px;
  word-spacing: 1px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-right: 30px;
  display: inline-block;
  width: 215px;
  height: 56px;
  border-radius: 28px;
  background-image: linear-gradient(187deg, #e35583 105%, #d04471 -30%);
  white-space: nowrap;
}
h3{
  font-size: 50px;
  font-weight: 300;
  color: #303030;
  position: relative;
  margin-bottom: 50px;
  &:before{
    content: "";
    width: 70px;
    height: 3px;
    position: absolute;
    background: #e35583;
    bottom: -15px;
    left: 0px;
  }
}
.icon-acupuncture .path1:before {
  content: "\e902";
  color: #fff;
}
.icon-acupuncture .path2:before {
  content: "\e903";
  color: #000;
  margin-left: -1em;
}
.icon-acupuncture .path3:before {
  content: "\e904";
  color: #000;
  margin-left: -1em;
}
.icon-acupuncture .path4:before {
  content: "\e905";
  color: #000;
  margin-left: -1em;
}
.icon-acupuncture .path5:before {
  content: "\e906";
  color: #000;
  margin-left: -1em;
}
.icon-short-arrow:before {
  content: "\e903";
  color: #fff;
}
.icon-group-4:before {
  content: "\e904";
  color: #c5c5c5;
}
.icon-short-arrow1:before {
  content: "\e905";
}



.header{
  position: absolute;
  width: 100%;
  padding: 70px 0px;
  z-index: 99;
  .navbar{
    co:red;
    .navbar-brand{
      co:red;
    }
    .navbar-collapse{
      flex-flow: column;
      .navbar-nav{
        co:red;
        .nav-item{
          margin: 0 10px;
          .nav-link{
            color: #fff;
            font-size: 20px;
            font-weight: normal;
          }
        }
      }
    }
    .button{
      .btn{
        background: #8d54a7;
      }
    }
  }
}
.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.sections{
  background: #1d2125;
  .section2{
    padding: 100px 0;
    .section2-image{
      co:red;
      img{
       width: 100%;
      }
    }
    .section2-item{
      color: #fff;
      max-width: 510px;
      padding-left: 50px;
      h3{
        font-size: 50px;
        font-weight: normal;
        color: #ffffff;
        position: relative;
        margin-bottom: 60px;
        &:before{
          content: "";
          width: 70px;
          height: 3px;
          position: absolute;
          background: #e35583;
          bottom: -15px;
          left: 0px;
        }
      }
      p{
        font-size: 20px;
        font-weight: normal;
        color: #ffffff;
        margin-bottom: 45px;
        padding-right: 10px;
      }
      .service-item{
        display: flex;
        h5{
          font-weight: normal;
        }
        .icon-short-arrow-copy-1{
          margin-left: 10px;
          margin-right: 30px;
          margin-top: 5px;
        }
      }
    }
  }
  .section3{
    padding: 100px 0 25px 0;
    .section3-item{
      color: #fff;
      padding-right: 65px;
      margin-bottom: 110px;
      h3{
        font-size: 50px;
        font-weight: 300;
        color: #ffff;
        position: relative;
        margin-bottom: 50px;
        padding-right: 124px;
        &:before{
          content: "";
          width: 70px;
          height: 3px;
          position: absolute;
          background: #e35583;
          bottom: -15px;
          left: 0px;
        }
      }
      h5{
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 35px;
      }
      p{
        font-size: 20px;
        font-weight: normal;
        a{
          color: #e35583;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .section3-content{
        margin-bottom: 82px;
    }
  }
}
.section1{
  background: url(../images/DkBOFHpA.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  position: relative;
  .section-content{
    padding: 420px 0px 150px 0px;
    max-width: 720px;
    h1{
      font-size: 70px;
      font-weight: 100;
      line-height: 1.2;
      color: #ffffff;
      margin-bottom: 30px;
    }
    .btn-section{
      display: flex;
      align-items: center;
      img{
        co:red;
      }
      h5{
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        margin-left: 20px;
      }
    }
  }
}
.section-4{
  background: #e0e0e0;
  padding: 90px 0 100px 0;
  h3{
    font-size: 50px;
    font-weight: 300;
    color: #303030;
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;
    &:before{
      content: "";
      width: 70px;
      height: 3px;
      position: absolute;
      background: #e35583;
      bottom: -15px;
      left: 0px;
    }
  }
  h5{
    font-size: 20px;
    font-weight: 300;
    color: #303030;
    margin-bottom: 30px;
    span{
      color: #090909;
      font-size: 18px;
    }
  }
  a{
    margin-bottom: 50px;
  }
  p{
    font-size: 20px;
    font-weight: 300;
    color: #303030;
    margin-bottom: 35px;
    a{
      color:#e45684;
    }
  }
  .section-4-item{
    background: #ffff;
    padding: 33px;
    margin-bottom: 30px;
    height: 350px;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #c6c4c4;
    h5{
      font-size: 20px;
      font-weight: normal;
      color: #303030;
      margin-bottom: 5px;
    }
    p{
      font-size: 18px;
      font-weight: 300;
      color: #303030;
    }
    h6{
      font-size: 16px;
      font-weight: 300;
      color: #303030;
      position: absolute;
      bottom: 35px;
    }
    .img-sec{
      margin-bottom: 10px;
      span{
        color: #f39600;
      }
    }
  }
  img{
    max-width: 100%;
  }
}
.section-5{
  background: #1d2125;
  padding: 100px 0 65px 0;
  .section-5-item{
    color: #ffff;
    padding-right: 300px;
    h3{
      font-size: 50px;
      font-weight: 300;
      color: #ffff;
      position: relative;
      margin-bottom: 50px;
      &:before{
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        background: #e35583;
        bottom: -15px;
        left: 0px;
      }
    }
    address{
      margin-bottom: 35px;
      h5{
        font-size: 20px;
        font-weight: 300;
      }
    }
    h6{
      font-size: 20px;
      font-weight: 300;
      span{
        padding-left: 10px;
      }
      a{
        color: #d04471;
        padding-left: 10px;
      }
    }
    img{
      cp:red;
    }
  }
  .section-5-map{
    cp:red;
    .heading{
      display: flex;
      color: #fff;
      padding: 35px 0;
      h4{
        font-size: 20px;
        font-weight: normal;
        margin-right: 25px;
        img{
          padding-left: 10px;
        }
        a{
          color: #d04471;
        }
        &:last-child{
          padding-left: 265px;
        }
      }
    }
  }
}
.footer{
  background: #d04471;
  .search{
    padding-bottom: 65px;
    .input-group{
      co:red;
      input{
        border-bottom: 1px solid #303030;
        opacity: 0.3;
        font-size: 24px;
        color: #303030;
      }
    }
    i{
      position: absolute;
      right: 0;
      bottom: 7px;
      font-weight: 800;
    }
  }
  .footer-item{
    co:red;
    ul{
      list-style: none;
      padding: 0;
      li{
        margin-bottom: 14px;
        font-size: 28px;
        font-weight: 600;
        color: #303030;
      }
    }
  }
  .footer-image{
    co:red;
    .item{
      co:red;
      h6{
        font-size: 16px;
        font-weight: normal;
        color:  #303030;
        a{
          color: #303030;
        }
      }
      span{
        position: absolute;
        right: 17px;
        top: 0;
      }
      img {
        max-width: 100%;
      }
      .item-content{
        background: #fff;
        padding: 29px;
        h4{
          font-size: 24px;
          font-weight: normal;
          color: #303030;
          margin-bottom: 15px;
        }
        p{
          font-size: 16px;
          font-weight: 300;
          color: #303030;
        }
        h6{
          font-size: 12px;
          font-weight: 300;
          color: #303030;
        }
        img{
          co:red;
        }
      }
    }
  }
  .main-footer{
    padding: 60px 0;
    .button{
      co:red;
      a{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #303030;
        border-radius: 50px;
        padding: 15px 30px;
        display: inline-block;
        border: 1px solid #303030;
      }
    }
    .footer-item{
      co:red;
      ul{
        list-style: none;
        display: flex;
        margin: 0;
        justify-content: flex-end;
        li{
          margin-right: 20px;
          font-size: 16px;
          font-weight: normal;
          color: #303030;
          margin-bottom: 0px;
          &:nth-child(3) {
            margin: 0 50px;
          }
          &:last-child{
            margin: 0;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .brand{
      co:red;
      img{
        co:red;
      }
    }
  }
}
.about-section{
  background:url(../images/DkBOFHpA.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  position: relative;
  .section-content{
    max-width: 700px;
    padding: 450px 0 50px 0;
    h1{
      font-size: 70px;
      font-weight: 300;
      color: #ffffff;
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 15px;
      &:before{
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        background: #e35583;
        bottom: -15px;
        left: 0px;
      }
    }
    p{
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 36px;
    }
    .heading{
      display: flex;
      h5{
        font-size: 24px;
        font-weight: normal;
        color: #ffffff;
        margin-right: 10px;
      }
      .icon-short-arrow1{
        color: #fff;
        margin-right: 30px;
      }
    }
  }
}
.our-story{
  background: #1d2125;
  .content{
    color: #fff;
    max-width: 330px;
    h3{
      color: #fff;
      margin-bottom: 60px;
    }
    p{
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }
  .image{
    padding: 100px 0 160px 0;
    img{
      width: 100%;
    }
  }
}
.team{
  background: #f7f7f7;
  padding: 120px 0 60px 0;
  .team-item{
    max-width: 850px;
    margin: 0 auto;
    h2{
      font-size: 50px;
      font-weight: normal;
      text-align: center;
      color: #303030;
      position: relative;
      margin-bottom: 50px;
      &:before{
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        background: #e35583;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    p{
      font-size: 20px;
      font-weight: normal;
      text-align: center;
      color: #303030;
      margin-bottom: 30px;
    }
  }
  .icons{
    text-align: center;
    span{
      margin-right: 30px;
    }
  }
  .team-content{
    co:red;
    .card{
      margin-bottom: 30px;
      img{
        max-width: 100%;
      }
      .card-body{
        padding: 25px 50px 25px 30px;
        h4{
          font-size: 26px;
          font-weight: normal;
          color: #303030;
          margin-bottom: 15px;
        }
        p{
          font-size: 16px;
          font-weight: normal;
          color: #303030;
          margin-bottom: 15px;
          text-align: left;
        }
        h6{
          font-size: 14px;
          font-weight: 300;
          color: #303030;
        }
        .icons{
          co:red;
        }
      }
    }
  }
}
.join{
  background: #f7f7f7;
  padding: 40px 0 100px 0;
  .join-item{
    padding-right: 37px;
    h3{
      font-size: 50px;
      font-weight: 300;
      color: #303030;
    }
    p{
      font-size: 20px;
      font-weight: 300;
      letter-spacing: normal;
      color: #303030;
      margin-bottom: 40px;
    }
    .input-group{
      co:red;
      input{
        font-size: 24px;
        font-weight: 300;
        width: 100%;
        border-bottom: 2px solid #d8d8d8;
        margin-bottom: 30px;
      }
    }
  }
}
.profile{
  background: #f7f7f7;
  .paul{
    padding: 100px 0;
    .paul-item{
      co:red;
      img{
        co:red;
      }
      h2{
        font-size: 70px;
        font-weight: 300;
        color: #1d2125;
        margin-bottom: 20px;
      }
      h5{
        font-size: 22px;
        font-weight: 300;
        color: #1d2125;
        margin-bottom: 40px;
        position: relative;
        &:before{
          content: "";
          width: 70px;
          height: 3px;
          position: absolute;
          background: #e35583;
          bottom: -15px;
          left: 0px;
        }
      }
      h6{
        font-size: 16px;
        color: #1d2125;
        margin-bottom: 30px;
      }
      p{
        font-size: 20px;
        font-weight: 300;
        color: #1d2125;
        padding-right: 144px;
      }
      a{
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        width: 310px;
        margin-top: 40px;
      }
      .links{
        margin-bottom: 35px;
        a{
          color: #e35583;
          font-size: 14px;
          font-weight: normal;
          margin-right: 30px;
        }
      }
    }
  }
  .resources{
    padding: 50px 0 120px 0;
    h3{
      co:red;
    }
    .resources-item{
      co:red;
      img{
        max-width: 100%;
      }
      .item-content{
        background: #fff;
        padding: 30px;
        h4{
          font-size: 24px;
          font-weight: normal;
          color: #303030;
        }
        p{
          font-size: 16px;
          font-weight: 300;
          color: #303030;
        }
        h6{
          font-size: 12px;
          font-weight: 300;
          color: #303030;
        }
      }
      h5{
        font-size: 16px;
        color: #303030;
        margin-top: 30px;
      }
    }
  }
}
.footer-section{
  background: #303030;
  .item-1{
    display: flex;
    h4{
      font-size: 24px;
      font-weight: normal;
      color: #ffffff;
    }
    img{
      width: 80px;
      height: 80px;
    }
    span{
      color: #ffff;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .item-2{
    padding: 28px 0;
    span{
      co:red;
    }
  }
}
.service-section{
  background: url(../images/6C50A2C8-A635-4AF0-B6D0-482C519A5DA4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .section-content{
    padding: 410px 0 40px 0;
    h1{
      font-size: 70px;
      font-weight: 300;
      color: #ffffff;
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 10px;
      &:before{
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        background: #e35583;
        bottom: -15px;
        left: 0px;
      }
    }
    p{
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 35px;
    }
    .heading{
      display: flex;
      h5{
        font-size: 24px;
        font-weight: normal;
        color: #ffffff;
        padding-right: 10px;
      }
      span{
        margin-right: 25px;
        color: #fff;
      }
    }
  }
  .image{
    position: absolute;
    bottom: 45px;
    right: 0;
    img{
      width: 231px;
      height: 150px;
    }
    h4{
      font-size: 24px;
      font-weight: normal;
      color: #ffffff;
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }
}
.recovery{
  width: 100%;
  background: #1d2125;
  .recovery-item{
    padding: 90px 0;
    img{
      width: 100%;
    }
  }
}
.service{
  background: #f7f7f7;
  padding: 110px 0;
  .service-content{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    h3{
      font-size: 50px;
      font-weight: 300;
      &:before{
        content: "";
        left: 50%;
        transform: translate(-50%, 0);
        background: #8d54a7;
      }
    }
    p{
      font-size: 20px;
      font-weight: 300;
      color: #303030;
      margin-bottom: 40px;
    }
    .alphabets{
      font-size: 20px;
      letter-spacing: 20px;
    }
  }
  .service-item{
    margin: 55px 0 0 0;
    .card{
      border: none;
      box-shadow: 1px 1px 12px #dfdfdf;
      margin-bottom: 30px;
      height: 220px;
      .card-body{
        co:red;
        h4{
          font-size: 26px;
          font-weight: normal;
          color: #303030;
        }
        a{
          font-size: 18px;
          font-weight: 300;
          color: #303030;
          position: absolute;
          bottom: 25px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}









// less than 1920px
@include media-breakpoint-down-destop(xxxl) {

}
// less than 1600px
@include media-breakpoint-down-destop(xxl) {

}
// less than 1366px
@include media-breakpoint-down-destop(xl) {

}

// less than 1200px
@include media-breakpoint-down(lg) {

}
// less than 992px

@include media-breakpoint-down(md) {

}
// less than 768px
@include media-breakpoint-down(sm) {

}
// less than 576px
@include media-breakpoint-down(xs) {

}
















