@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  outline: none !important; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

.rounded-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.rounded-20 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.rounded-30 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px; }

.rounded-40 {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px; }

.rounded-50 {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

.gutter-10 {
  margin-right: -5px;
  margin-left: -5px; }
  .gutter-10 > .col,
  .gutter-10 > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px; }

.gutter-20 {
  margin-right: -10px;
  margin-left: -10px; }
  .gutter-20 > .col,
  .gutter-20 > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px; }

.gutter-30 {
  margin-right: -15px;
  margin-left: -15px; }
  .gutter-30 > .col,
  .gutter-30 > [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px; }

.gutter-40 {
  margin-right: -20px;
  margin-left: -20px; }
  .gutter-40 > .col,
  .gutter-40 > [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px; }

.gutter-50 {
  margin-right: -25px;
  margin-left: -25px; }
  .gutter-50 > .col,
  .gutter-50 > [class*="col-"] {
    padding-right: 25px;
    padding-left: 25px; }

.gutter-60 {
  margin-right: -30px;
  margin-left: -30px; }
  .gutter-60 > .col,
  .gutter-60 > [class*="col-"] {
    padding-right: 30px;
    padding-left: 30px; }

.gutter-80 {
  margin-right: -40px;
  margin-left: -40px; }
  .gutter-80 > .col,
  .gutter-80 > [class*="col-"] {
    padding-right: 40px;
    padding-left: 40px; }

@media (min-width: 576px) {
  .gutter-sm-10 {
    margin-right: -5px;
    margin-left: -5px; }
    .gutter-sm-10 > .col,
    .gutter-sm-10 > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px; }
  .gutter-sm-20 {
    margin-right: -10px;
    margin-left: -10px; }
    .gutter-sm-20 > .col,
    .gutter-sm-20 > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px; }
  .gutter-sm-30 {
    margin-right: -15px;
    margin-left: -15px; }
    .gutter-sm-30 > .col,
    .gutter-sm-30 > [class*="col-"] {
      padding-right: 15px;
      padding-left: 15px; }
  .gutter-sm-40 {
    margin-right: -20px;
    margin-left: -20px; }
    .gutter-sm-40 > .col,
    .gutter-sm-40 > [class*="col-"] {
      padding-right: 20px;
      padding-left: 20px; }
  .gutter-sm-50 {
    margin-right: -25px;
    margin-left: -25px; }
    .gutter-sm-50 > .col,
    .gutter-sm-50 > [class*="col-"] {
      padding-right: 25px;
      padding-left: 25px; }
  .gutter-sm-60 {
    margin-right: -30px;
    margin-left: -30px; }
    .gutter-sm-60 > .col,
    .gutter-sm-60 > [class*="col-"] {
      padding-right: 30px;
      padding-left: 30px; }
  .gutter-sm-80 {
    margin-right: -40px;
    margin-left: -40px; }
    .gutter-sm-80 > .col,
    .gutter-sm-80 > [class*="col-"] {
      padding-right: 40px;
      padding-left: 40px; } }

@media (min-width: 768px) {
  .gutter-md-10 {
    margin-right: -5px;
    margin-left: -5px; }
    .gutter-md-10 > .col,
    .gutter-md-10 > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px; }
  .gutter-md-20 {
    margin-right: -10px;
    margin-left: -10px; }
    .gutter-md-20 > .col,
    .gutter-md-20 > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px; }
  .gutter-md-30 {
    margin-right: -15px;
    margin-left: -15px; }
    .gutter-md-30 > .col,
    .gutter-md-30 > [class*="col-"] {
      padding-right: 15px;
      padding-left: 15px; }
  .gutter-md-40 {
    margin-right: -20px;
    margin-left: -20px; }
    .gutter-md-40 > .col,
    .gutter-md-40 > [class*="col-"] {
      padding-right: 20px;
      padding-left: 20px; }
  .gutter-md-50 {
    margin-right: -25px;
    margin-left: -25px; }
    .gutter-md-50 > .col,
    .gutter-md-50 > [class*="col-"] {
      padding-right: 25px;
      padding-left: 25px; }
  .gutter-md-60 {
    margin-right: -30px;
    margin-left: -30px; }
    .gutter-md-60 > .col,
    .gutter-md-60 > [class*="col-"] {
      padding-right: 30px;
      padding-left: 30px; }
  .gutter-md-80 {
    margin-right: -40px;
    margin-left: -40px; }
    .gutter-md-80 > .col,
    .gutter-md-80 > [class*="col-"] {
      padding-right: 40px;
      padding-left: 40px; } }

@media (min-width: 992px) {
  .gutter-lg-10 {
    margin-right: -5px;
    margin-left: -5px; }
    .gutter-lg-10 > .col,
    .gutter-lg-10 > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px; }
  .gutter-lg-20 {
    margin-right: -10px;
    margin-left: -10px; }
    .gutter-lg-20 > .col,
    .gutter-lg-20 > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px; }
  .gutter-lg-30 {
    margin-right: -15px;
    margin-left: -15px; }
    .gutter-lg-30 > .col,
    .gutter-lg-30 > [class*="col-"] {
      padding-right: 15px;
      padding-left: 15px; }
  .gutter-lg-40 {
    margin-right: -20px;
    margin-left: -20px; }
    .gutter-lg-40 > .col,
    .gutter-lg-40 > [class*="col-"] {
      padding-right: 20px;
      padding-left: 20px; }
  .gutter-lg-50 {
    margin-right: -25px;
    margin-left: -25px; }
    .gutter-lg-50 > .col,
    .gutter-lg-50 > [class*="col-"] {
      padding-right: 25px;
      padding-left: 25px; }
  .gutter-lg-60 {
    margin-right: -30px;
    margin-left: -30px; }
    .gutter-lg-60 > .col,
    .gutter-lg-60 > [class*="col-"] {
      padding-right: 30px;
      padding-left: 30px; }
  .gutter-lg-80 {
    margin-right: -40px;
    margin-left: -40px; }
    .gutter-lg-80 > .col,
    .gutter-lg-80 > [class*="col-"] {
      padding-right: 40px;
      padding-left: 40px; } }

@media (min-width: 1200px) {
  .gutter-xl-10 {
    margin-right: -5px;
    margin-left: -5px; }
    .gutter-xl-10 > .col,
    .gutter-xl-10 > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px; }
  .gutter-xl-20 {
    margin-right: -10px;
    margin-left: -10px; }
    .gutter-xl-20 > .col,
    .gutter-xl-20 > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px; }
  .gutter-xl-30 {
    margin-right: -15px;
    margin-left: -15px; }
    .gutter-xl-30 > .col,
    .gutter-xl-30 > [class*="col-"] {
      padding-right: 15px;
      padding-left: 15px; }
  .gutter-xl-40 {
    margin-right: -20px;
    margin-left: -20px; }
    .gutter-xl-40 > .col,
    .gutter-xl-40 > [class*="col-"] {
      padding-right: 20px;
      padding-left: 20px; }
  .gutter-xl-50 {
    margin-right: -25px;
    margin-left: -25px; }
    .gutter-xl-50 > .col,
    .gutter-xl-50 > [class*="col-"] {
      padding-right: 25px;
      padding-left: 25px; }
  .gutter-xl-60 {
    margin-right: -30px;
    margin-left: -30px; }
    .gutter-xl-60 > .col,
    .gutter-xl-60 > [class*="col-"] {
      padding-right: 30px;
      padding-left: 30px; }
  .gutter-xl-80 {
    margin-right: -40px;
    margin-left: -40px; }
    .gutter-xl-80 > .col,
    .gutter-xl-80 > [class*="col-"] {
      padding-right: 40px;
      padding-left: 40px; } }

img {
  max-width: 100%; }

.btn {
  padding: 12px 32px;
  font-size: 20px;
  text-align: center;
  border-radius: 30px; }

.head3 {
  font-size: 50px;
  font-weight: 300;
  position: relative;
  margin-bottom: 24px;
  padding-bottom: 16px; }
  .head3:before {
    content: "";
    width: 62px;
    height: 2px;
    position: absolute;
    background: #e35583;
    bottom: 0;
    left: 0; }

.header {
  position: absolute;
  width: 100%;
  padding: 60px 0;
  z-index: 99; }
  .header .navbar {
    padding: 0; }
    .header .navbar .navbar-brand {
      padding: 0;
      width: 100%;
      max-width: 200px; }
    .header .navbar .navbar-nav {
      margin: 0 auto; }
      .header .navbar .navbar-nav .nav-item {
        margin: 0 7px; }
        .header .navbar .navbar-nav .nav-item .nav-link {
          color: #fff;
          font-size: 18px;
          font-weight: normal;
          margin: 0;
          padding: 0 10px; }
    .header .navbar .form-inline {
      width: 200px;
      justify-content: flex-end; }
      .header .navbar .form-inline input {
        co: Red; }
      .header .navbar .form-inline button {
        co: Red; }

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.slide-area {
  position: relative;
  background: #444 url(../images/home-banner.jpg) no-repeat center center/cover;
  padding-top: 260px; }
  .slide-area:before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(29, 33, 37, 0), #1d2125 88%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 194px;
    transform: rotate(180deg); }
  .slide-area:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(29, 33, 37, 0), #1d2125 100%); }
  .slide-area .slide-content {
    max-width: 580px;
    margin-top: 290px;
    margin-bottom: 170px;
    display: inline-block;
    position: relative;
    z-index: 9; }
    .slide-area .slide-content h1 {
      font-size: 70px;
      font-weight: 300;
      line-height: 1.2;
      color: #ffffff;
      margin: 0 0 30px; }
    .slide-area .slide-content .btns {
      display: flex;
      align-items: center; }
      .slide-area .slide-content .btns img {
        co: red; }
      .slide-area .slide-content .btns h5 {
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        margin-left: 20px; }
      .slide-area .slide-content .btns .btn-play {
        padding: 0;
        margin-left: 30px;
        color: #fff;
        font-weight: 300; }
        .slide-area .slide-content .btns .btn-play img {
          vertical-align: middle;
          margin-right: 13px; }

.bg-gray {
  background: #1d2125; }

.welcome-section {
  padding: 100px 0; }
  .welcome-section .img {
    co: red; }
  .welcome-section .content {
    color: #fff;
    max-width: 510px;
    padding-left: 70px; }
    .welcome-section .content .head3 {
      color: #ffffff; }
    .welcome-section .content p {
      font-size: 18px;
      font-weight: 200;
      color: #ffffff;
      margin-bottom: 35px;
      line-height: 1.3;
      max-width: 370px; }
    .welcome-section .content .list {
      display: flex;
      padding: 0; }
      .welcome-section .content .list li {
        font-size: 22px;
        margin-right: 40px;
        font-weight: 300;
        list-style: none;
        opacity: 0.9; }

.help-section {
  padding: 100px 0 50px; }
  .help-section h3 {
    font-size: 50px;
    font-weight: 300;
    color: #ffff;
    position: relative;
    margin-bottom: 50px;
    padding-right: 124px; }
    .help-section h3:before {
      content: "";
      width: 70px;
      height: 3px;
      position: absolute;
      background: #e35583;
      bottom: -15px;
      left: 0; }
  .help-section .item {
    color: #fff;
    margin: 0 0 70px; }
    .help-section .item h5 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px; }
    .help-section .item p {
      font-size: 18px;
      font-weight: 200;
      line-height: 1.4;
      opacity: 0.9; }
      .help-section .item p a {
        color: #e35583; }
        .help-section .item p a:hover {
          text-decoration: underline; }

.patient-stories {
  background: #e0e0e0;
  padding: 90px 0 100px 0; }
  .patient-stories .head3 {
    color: #303030; }
  .patient-stories p {
    font-size: 18px;
    font-weight: 300;
    color: #303030;
    margin-bottom: 20px;
    line-height: 1.3;
    max-width: 500px; }
    .patient-stories p a {
      color: #e35583;
      text-decoration: underline; }
    .patient-stories p strong {
      font-weight: 600; }
  .patient-stories .btn {
    margin-bottom: 40px; }
  .patient-stories.reviews {
    font-size: 20px;
    font-weight: 300;
    color: #303030;
    margin-bottom: 30px; }
  .patient-stories .card {
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #c6c4c4;
    height: calc(100% - 30px); }
    .patient-stories .card .card-body {
      padding: 33px;
      position: relative; }
      .patient-stories .card .card-body h4 {
        font-size: 20px;
        font-weight: 400;
        color: #303030;
        margin-bottom: 12px; }
      .patient-stories .card .card-body p {
        font-size: 17px;
        font-weight: 400;
        color: #303030;
        line-height: 1.3;
        opacity: 0.8; }
      .patient-stories .card .card-body time {
        font-size: 15px;
        font-weight: 400; }

.section-5 {
  background: #1d2125;
  padding: 100px 0 65px 0; }
  .section-5 .section-5-item {
    color: #ffff;
    padding-right: 300px; }
    .section-5 .section-5-item h3 {
      font-size: 50px;
      font-weight: 300;
      color: #ffff;
      position: relative;
      margin-bottom: 50px; }
      .section-5 .section-5-item h3:before {
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        background: #e35583;
        bottom: -15px;
        left: 0px; }
    .section-5 .section-5-item address {
      margin-bottom: 35px; }
      .section-5 .section-5-item address h5 {
        font-size: 20px;
        font-weight: 300; }
    .section-5 .section-5-item h6 {
      font-size: 20px;
      font-weight: 300; }
      .section-5 .section-5-item h6 span {
        padding-left: 10px; }
      .section-5 .section-5-item h6 a {
        color: #d04471;
        padding-left: 10px; }
    .section-5 .section-5-item img {
      cp: red; }
  .section-5 .section-5-map {
    cp: red; }
    .section-5 .section-5-map .heading {
      display: flex;
      color: #fff;
      padding: 35px 0; }
      .section-5 .section-5-map .heading h4 {
        font-size: 20px;
        font-weight: normal;
        margin-right: 25px; }
        .section-5 .section-5-map .heading h4 img {
          padding-left: 10px; }
        .section-5 .section-5-map .heading h4 a {
          color: #d04471; }
        .section-5 .section-5-map .heading h4:last-child {
          padding-left: 265px; }

.footer {
  background: #d04471; }
  .footer .search {
    padding-bottom: 65px; }
    .footer .search .input-group {
      co: red; }
      .footer .search .input-group input {
        border-bottom: 1px solid #303030;
        opacity: 0.3;
        font-size: 24px;
        color: #303030; }
    .footer .search i {
      position: absolute;
      right: 0;
      bottom: 7px;
      font-weight: 800; }
  .footer .footer-item {
    co: red; }
    .footer .footer-item ul {
      list-style: none;
      padding: 0; }
      .footer .footer-item ul li {
        margin-bottom: 14px;
        font-size: 28px;
        font-weight: 600;
        color: #303030; }
  .footer .footer-image {
    co: red; }
    .footer .footer-image .item {
      co: red; }
      .footer .footer-image .item h6 {
        font-size: 16px;
        font-weight: normal;
        color: #303030; }
        .footer .footer-image .item h6 a {
          color: #303030; }
      .footer .footer-image .item span {
        position: absolute;
        right: 17px;
        top: 0; }
      .footer .footer-image .item img {
        max-width: 100%; }
      .footer .footer-image .item .item-content {
        background: #fff;
        padding: 29px; }
        .footer .footer-image .item .item-content h4 {
          font-size: 24px;
          font-weight: normal;
          color: #303030;
          margin-bottom: 15px; }
        .footer .footer-image .item .item-content p {
          font-size: 16px;
          font-weight: 300;
          color: #303030; }
        .footer .footer-image .item .item-content h6 {
          font-size: 12px;
          font-weight: 300;
          color: #303030; }
        .footer .footer-image .item .item-content img {
          co: red; }
  .footer .main-footer {
    padding: 60px 0; }
    .footer .main-footer .button {
      co: red; }
      .footer .main-footer .button a {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #303030;
        border-radius: 50px;
        padding: 15px 30px;
        display: inline-block;
        border: 1px solid #303030; }
    .footer .main-footer .footer-item {
      co: red; }
      .footer .main-footer .footer-item ul {
        list-style: none;
        display: flex;
        margin: 0;
        justify-content: flex-end; }
        .footer .main-footer .footer-item ul li {
          margin-right: 20px;
          font-size: 16px;
          font-weight: normal;
          color: #303030;
          margin-bottom: 0px; }
          .footer .main-footer .footer-item ul li:nth-child(3) {
            margin: 0 50px; }
          .footer .main-footer .footer-item ul li:last-child {
            margin: 0; }
          .footer .main-footer .footer-item ul li:hover {
            text-decoration: underline; }
    .footer .main-footer .brand {
      co: red; }
      .footer .main-footer .brand img {
        co: red; }

.about-section {
  background: url(../images/DkBOFHpA.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .about-section .section-content {
    max-width: 700px;
    padding: 450px 0 50px 0; }
    .about-section .section-content h1 {
      font-size: 70px;
      font-weight: 300;
      color: #ffffff;
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 15px; }
      .about-section .section-content h1:before {
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        background: #e35583;
        bottom: -15px;
        left: 0px; }
    .about-section .section-content p {
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 36px; }
    .about-section .section-content .heading {
      display: flex; }
      .about-section .section-content .heading h5 {
        font-size: 24px;
        font-weight: normal;
        color: #ffffff;
        margin-right: 10px; }
      .about-section .section-content .heading .icon-short-arrow1 {
        color: #fff;
        margin-right: 30px; }

.our-story {
  background: #1d2125; }
  .our-story .content {
    color: #fff;
    max-width: 330px; }
    .our-story .content h3 {
      color: #fff;
      margin-bottom: 60px; }
    .our-story .content p {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 30px; }
  .our-story .image {
    padding: 100px 0 160px 0; }
    .our-story .image img {
      width: 100%; }

.team {
  background: #f7f7f7;
  padding: 120px 0 60px 0; }
  .team .team-item {
    max-width: 850px;
    margin: 0 auto; }
    .team .team-item h2 {
      font-size: 50px;
      font-weight: normal;
      text-align: center;
      color: #303030;
      position: relative;
      margin-bottom: 50px; }
      .team .team-item h2:before {
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        background: #e35583;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, 0); }
    .team .team-item p {
      font-size: 20px;
      font-weight: normal;
      text-align: center;
      color: #303030;
      margin-bottom: 30px; }
  .team .icons {
    text-align: center; }
    .team .icons span {
      margin-right: 30px; }
  .team .team-content {
    co: red; }
    .team .team-content .card {
      margin-bottom: 30px; }
      .team .team-content .card img {
        max-width: 100%; }
      .team .team-content .card .card-body {
        padding: 25px 50px 25px 30px; }
        .team .team-content .card .card-body h4 {
          font-size: 26px;
          font-weight: normal;
          color: #303030;
          margin-bottom: 15px; }
        .team .team-content .card .card-body p {
          font-size: 16px;
          font-weight: normal;
          color: #303030;
          margin-bottom: 15px;
          text-align: left; }
        .team .team-content .card .card-body h6 {
          font-size: 14px;
          font-weight: 300;
          color: #303030; }
        .team .team-content .card .card-body .icons {
          co: red; }

.join {
  background: #f7f7f7;
  padding: 40px 0 100px 0; }
  .join .join-item {
    padding-right: 37px; }
    .join .join-item h3 {
      font-size: 50px;
      font-weight: 300;
      color: #303030; }
    .join .join-item p {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: normal;
      color: #303030;
      margin-bottom: 40px; }
    .join .join-item .input-group {
      co: red; }
      .join .join-item .input-group input {
        font-size: 24px;
        font-weight: 300;
        width: 100%;
        border-bottom: 2px solid #d8d8d8;
        margin-bottom: 30px; }

.profile {
  background: #f7f7f7; }
  .profile .paul {
    padding: 100px 0; }
    .profile .paul .paul-item {
      co: red; }
      .profile .paul .paul-item img {
        co: red; }
      .profile .paul .paul-item h2 {
        font-size: 70px;
        font-weight: 300;
        color: #1d2125;
        margin-bottom: 20px; }
      .profile .paul .paul-item h5 {
        font-size: 22px;
        font-weight: 300;
        color: #1d2125;
        margin-bottom: 40px;
        position: relative; }
        .profile .paul .paul-item h5:before {
          content: "";
          width: 70px;
          height: 3px;
          position: absolute;
          background: #e35583;
          bottom: -15px;
          left: 0px; }
      .profile .paul .paul-item h6 {
        font-size: 16px;
        color: #1d2125;
        margin-bottom: 30px; }
      .profile .paul .paul-item p {
        font-size: 20px;
        font-weight: 300;
        color: #1d2125;
        padding-right: 144px; }
      .profile .paul .paul-item a {
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        width: 310px;
        margin-top: 40px; }
      .profile .paul .paul-item .links {
        margin-bottom: 35px; }
        .profile .paul .paul-item .links a {
          color: #e35583;
          font-size: 14px;
          font-weight: normal;
          margin-right: 30px; }
  .profile .resources {
    padding: 50px 0 120px 0; }
    .profile .resources h3 {
      co: red; }
    .profile .resources .resources-item {
      co: red; }
      .profile .resources .resources-item img {
        max-width: 100%; }
      .profile .resources .resources-item .item-content {
        background: #fff;
        padding: 30px; }
        .profile .resources .resources-item .item-content h4 {
          font-size: 24px;
          font-weight: normal;
          color: #303030; }
        .profile .resources .resources-item .item-content p {
          font-size: 16px;
          font-weight: 300;
          color: #303030; }
        .profile .resources .resources-item .item-content h6 {
          font-size: 12px;
          font-weight: 300;
          color: #303030; }
      .profile .resources .resources-item h5 {
        font-size: 16px;
        color: #303030;
        margin-top: 30px; }

.footer-section {
  background: #303030; }
  .footer-section .item-1 {
    display: flex; }
    .footer-section .item-1 h4 {
      font-size: 24px;
      font-weight: normal;
      color: #ffffff; }
    .footer-section .item-1 img {
      width: 80px;
      height: 80px; }
    .footer-section .item-1 span {
      color: #ffff;
      padding-left: 25px;
      padding-right: 25px; }
  .footer-section .item-2 {
    padding: 28px 0; }
    .footer-section .item-2 span {
      co: red; }

.service-section {
  background: url(../images/6C50A2C8-A635-4AF0-B6D0-482C519A5DA4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .service-section .section-content {
    padding: 410px 0 40px 0; }
    .service-section .section-content h1 {
      font-size: 70px;
      font-weight: 300;
      color: #ffffff;
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 10px; }
      .service-section .section-content h1:before {
        content: "";
        width: 70px;
        height: 3px;
        position: absolute;
        background: #e35583;
        bottom: -15px;
        left: 0px; }
    .service-section .section-content p {
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 35px; }
    .service-section .section-content .heading {
      display: flex; }
      .service-section .section-content .heading h5 {
        font-size: 24px;
        font-weight: normal;
        color: #ffffff;
        padding-right: 10px; }
      .service-section .section-content .heading span {
        margin-right: 25px;
        color: #fff; }
  .service-section .image {
    position: absolute;
    bottom: 45px;
    right: 0; }
    .service-section .image img {
      width: 231px;
      height: 150px; }
    .service-section .image h4 {
      font-size: 24px;
      font-weight: normal;
      color: #ffffff;
      position: absolute;
      bottom: 10px;
      left: 10px; }

.recovery {
  width: 100%;
  background: #1d2125; }
  .recovery .recovery-item {
    padding: 90px 0; }
    .recovery .recovery-item img {
      width: 100%; }

.service {
  background: #f7f7f7;
  padding: 110px 0; }
  .service .service-content {
    text-align: center;
    max-width: 850px;
    margin: 0 auto; }
    .service .service-content h3 {
      font-size: 50px;
      font-weight: 300; }
      .service .service-content h3:before {
        content: "";
        left: 50%;
        transform: translate(-50%, 0);
        background: #8d54a7; }
    .service .service-content p {
      font-size: 20px;
      font-weight: 300;
      color: #303030;
      margin-bottom: 40px; }
    .service .service-content .alphabets {
      font-size: 20px;
      letter-spacing: 20px; }
  .service .service-item {
    margin: 55px 0 0 0; }
    .service .service-item .card {
      border: none;
      box-shadow: 1px 1px 12px #dfdfdf;
      margin-bottom: 30px;
      height: 220px; }
      .service .service-item .card .card-body {
        co: red; }
        .service .service-item .card .card-body h4 {
          font-size: 26px;
          font-weight: normal;
          color: #303030; }
        .service .service-item .card .card-body a {
          font-size: 18px;
          font-weight: 300;
          color: #303030;
          position: absolute;
          bottom: 25px; }
          .service .service-item .card .card-body a:hover {
            text-decoration: underline; }

@media print {
  .container {
    width: auto; } }

/*# sourceMappingURL=style.css.map */
